header{    
    background-position: center center;
    height: 300px;
    background-image: url('../img/macska_fajtak.jpg');
}

h1{
    background-color: rgba(112, 254, 245, 0.5);
    margin-top: 80px;
    padding-left: 11rem; 
    font-weight: bold;
    font-family:  Tahoma;
    color:#2d277b;
}

h2{    
    margin-top: 10px; 
    color:#2d277b; 
    border-left: 3px dashed #00fde8; 
    padding: 10px 20px;
    font-variant: small-caps;
}

h3{    
    font-weight: bold;
    color: #6749b3; 
    font-size: 1.4em;
       
}

p{
    text-indent: 20px;
    text-align: justify;
}

li{
    list-style-image: url(../img/kihalt.jpg);
    
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;    
}

.navbar{
    font-weight: bold;
    color: black;
    background-color: #00fde8;
}



.btn-outline-success{
    background-color: #00fde8 !important;
    color:#2d277b;
    border:#2d277b;
}

.btn-outline-success:hover{
    border:#2d277b;
    background-color: #2d277b !important;
    color:#00fde8;
}
